<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
		<div class="topnav">
  <p><a class="active" href="/list">Home</a></p>
  <p><a  href="/about1">About</a></p>
  <p><a  href="/contact">Contact</a></p>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>








<div id="text3">
<fieldset>

<h1> Create New Brand </h1>
<form action="" method="POST">

<label for="name">Brand Name &#42;</label>
    <input id="name" name="name" type="text" placeholder="Enter Brand Name" required="required">

<label for="description">Description &#42;</label>
    <textarea id="description" name="description" placeholder="Enter Brand Description" rows="3" required="required"></textarea>
    <button type="submit">Create Product</button>
</fieldset>
</form>

</body>
</html>