<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
		<div class="topnav">
  <p><a class="active" href="/list">Home</a></p>
  <p><a  href="/about1">About</a></p>
  <p><a  href="/contact">Contact</a></p>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

	</div>
<br>
  <div class="form"> 

    <br><h2>Order Form</h2>
    <form>
         <div class="form-group">
             <p> <label for="email">Email address:</label> </p>
              <input type="email" class="form-control" id="email" placeholder="abc123@email.com">
         </div> <br>
         <div class="form-group">
            <label for="CustomerName">Customer Name: </label>
            <input type="text" class="form-control" id="CustomerName" placeholder="First and Last name here">
       </div>

        <div class="form-group">
          <label for="Phone">Phone Number: </label>
          <input type="number" class="form-control" id="Phone" placeholder="Your phone number">
        </div>

       <div class="form-group">
        <label for="exampleFormControlSelect1">Order Quantity: </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
  
   <div class="form-group">
            <label for="Productid">Product ID: </label>
            <input type="text" class="form-control" id="Productid" placeholder="Enter product ID here">
       </div>

  </div>
</form>
  </div>